# A問題

In [2]:
A, B, C = map(int,input().split())
print(max(A, B, C)*9 + A+B+C )

9 9 9
108

# B問題

In [39]:
N, M, X, Y = map(int,input().split())
x = list(map(int,input().split()))
x.append(X)
y = list(map(int,input().split()))
y.append(Y)
if max(x) > min(y)-1:
    print('War')
else:
    print('No War')

3 2 10 20
8 15 13
16 22
No War

In [36]:
if max(x) > min(y):
    print('Yes')
else:
    print('No')

No

In [23]:
X

6

In [37]:
max(x)

15

In [38]:
min(y)

16

# C問題

In [96]:
S = list(input())
T = list(input())
flag = False
S_uniq = list(set(S))
S_duplicate = [x for x in set(S) if S.count(x) > 1]
T_uniq = list(set(T))
T_duplicate = [x for x in set(T) if T.count(x) > 1]
if len(S_uniq) != len(T_uniq):
    flag = True
else:
    for j in S_duplicate: 
        S_indexes = [i for i, x in enumerate(S) if x == j]
        T_single = T[min(S_indexes)]
        T_indexes = [i for i, x in enumerate(T) if x == T_single]
        if S_indexes != T_indexes:

            flag = True
            break
if flag:
    print('No')
else:
    print('Yes')

abcdefghijklmnopqrstuvwxyz
ibyhqfrekavclxjstdwgpzmonu
Yes

In [62]:
T_duplicate

['z']

In [57]:
S.index("z")

1

In [80]:
min(S_indexes)

1

In [81]:
T[min(S_indexes)]

'z'

In [68]:
test = [1,2,1,3,1]
indexes = [i for i, x in enumerate(test) if x == 1]
print(indexes) # [0, 2, 4]

[0, 2, 4]

In [86]:
S_indexes

[1, 2]

In [87]:
T_indexes

[1, 2]